body{
    font-family: 'Inter', sans-serif;
}

button{
    background-color: hsl(5, 85%, 63%);
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

ul{
    list-style-type: none;
    overflow: hidden;

}

#headSection p, #bottomSection p{
    color: hsl(236, 13%, 42%);
}

#newSection{
    background-color: hsl(240, 100%, 5%);
}

#newSection h1, #headSection a:hover, #newSection a:hover, #menu a:hover{
    color: hsl(35, 77%, 62%);
}

#newSection a{
    color: hsl(36, 100%, 99%);
    font-weight: bold;
}

#newSection p{
    color: hsl(233, 8%, 79%);
}

#bottomSection section{
    display: inline-block;
}

#bottomSection h1{
    color: hsl(5, 85%, 63%);
}

#bottomSection a{
    color: hsl(240, 100%, 5%);
    font-weight: bold;
}

#bottomSection a:hover{
    color: hsl(5, 85%, 63%);
}

.show{
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
}

@media (max-width: 70em){
    nav{
        visibility: hidden;
        height: 0;
    }

    #menuDesktop{
        display: none;
    }
}

@media (min-width: 70em){
    nav{
        position: fixed;
        right: 0;
    }

    ul li{
        display: inline;
        padding: 5px;
    }

    #menu{
        display: none;
    }

    #menuOpen, #menuClose{
        display: none;
    }
}